@page
@model FormacaoRazor.Pages.MarcacoesPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-lg-6 col-md-8 col-sm12">
        <div class="card card-orange">
            <div class="card-header">
                <h3 class="card-title">Detalhe:</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Marcacao.Uh)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Marcacao.Uh.IATA)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Marcacao.Formacao)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Marcacao.Formacao.FormacaoCod)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Marcacao.Formador)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Marcacao.Formador.FormadorNome)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Marcacao.Sala)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Marcacao.Sala.SalaNome)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Marcacao.DataInicio)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Marcacao.DataInicio)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Marcacao.DataFim)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Marcacao.DataFim)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Marcacao.ColorCode)
                    </dt>
                    <dd class="col-sm-10">
                        <span><i class="fas fa-square" style="color: @Html.DisplayFor(model => model.Marcacao.ColorCode)"></i></span>
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Marcacao.Observacoes)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Marcacao.Observacoes)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Marcacao.CreatedAt)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Marcacao.CreatedAt)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Marcacao.CreatedBy)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Marcacao.CreatedBy)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Marcacao.LastUpdatedAt)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Marcacao.LastUpdatedAt)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Marcacao.LastUpdatedBy)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Marcacao.LastUpdatedBy)
                    </dd>
                </dl>
            </div>
            <div class="card-footer">
                <form method="post">
                    @if (User.IsInRole("Admin") || User.IsInRole("Administrativo"))
                    {
                        <a asp-page="./Edit" asp-route-id="@Model.Marcacao.MarcacaoID">Editar</a>
                    }
                    &nbsp;|&nbsp;<a href="javascript:history.go(-1)" class="btn btn-default">Voltar</a>
                </form>
            </div>
        </div>
    </div>
</div>