@page
@model FormacaoRazor.Pages.MarcacoesPages.IndexModel

@{
    ViewData["Title"] = "Marcações";
}
@section Styles {
    <link href="~/AdminLte3/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-lg-8 col-md-12 col-sm12">
        <alert view-context="ViewContext"></alert>
        <div class="card">
            <div class="card-header">
                @if (User.IsInRole("Admin") || User.IsInRole("Administrativo"))
                {
                    <a class="btn btn-app" asp-page="Create">
                        <i class="fas fa-plus-square"></i> Novo
                    </a>
                }
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table id="tblMarcacoes" class="table table-head-fixed">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.MarcacaoList[0].Uh)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MarcacaoList[0].Formacao)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MarcacaoList[0].Formador)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MarcacaoList[0].Sala)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MarcacaoList[0].DataInicio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MarcacaoList[0].DataFim)
                            </th>
                            @if (User.IsInRole("Admin") || User.IsInRole("Administrativo"))
                            {
                                <th></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MarcacaoList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Uh.IATA)
                                </td>
                                <td>
                                    <span class="badge" style="background-color: @(item.ColorCode)">
                                        @item.Formacao.FormacaoCod
                                    </span> -
                                    @Html.DisplayFor(modelItem => item.Formacao.FormacaoNome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Formador.FormadorNome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sala.SalaNome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataInicio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataFim)
                                </td>
                                @if (User.IsInRole("Admin") || User.IsInRole("Administrativo"))
                                {
                                    <td style="min-width: 130px">
                                        <form asp-page-handler="delete" asp-route-id="@item.MarcacaoID" id="deleteForm" method="post" class="form-inline">
                                            <a asp-page="./Edit" asp-route-id="@item.MarcacaoID" class="px-1">
                                                <i class="fas fa-edit" data-toggle="tooltip" data-placement="top" title="Editar"></i>
                                            </a>
                                            <a asp-page="./Details" asp-route-id="@item.MarcacaoID" class="px-1">
                                                <i class="fas fa-info" data-toggle="tooltip" data-placement="top" title="Detalhe"></i>
                                            </a>
                                            <button class="btn btn-link deleteBtn">
                                                <i class="fas fa-trash text-danger" data-toggle="tooltip" data-placement="left" title="Apagar"></i>
                                            </button>
                                            <a asp-page="./Copy" asp-route-id="@item.MarcacaoID" class="px-1">
                                                <i class="fas fa-copy text-orange" data-toggle="tooltip" data-placement="top" title="Copiar"></i>
                                            </a>
                                        </form>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/AdminLte3/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminLte3/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $('#tblMarcacoes').DataTable({
                language: {
                    url: '/AdminLte3/plugins/datatables/pt_PT.json'
                }
            });
        });
    </script>

    <script>
        $(function () {
            $("#FormacaoCod").on("change", function () {
                $("#FormacaoNome").val($(this).val());
            });
            $("#FormacaoNome").on("change", function () {
                $("#FormacaoCod").val($(this).val());
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $(".deleteBtn").click(function (e) {
                //whenever our button is clicked
                e.preventDefault();
                // stop the default behavior(navigation)
                let $form = $(this).closest('form');
                //get a reference to the container form
                Swal.fire({
                    title: 'Tem a certeza?',
                    text: "Não conseguirá recuperar a entrada!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#ec6c62',
                    confirmButtonText: 'Sim, apagar!',
                    cancelButtonText: 'Cancelar!',
                    animation: false,
                    customClass: {
                        popup: 'animated tada'
                    }
                }).then((result) => {
                    if (result.value) {
                        $form.submit();
                    } else if (
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        Swal.fire({
                            title: 'Cancelado!',
                            text: "",
                            type: 'info',
                        });
                    }
                });
            });
        })
    </script>
}