@page
@model FormacaoRazor.Pages.FormandosPages.ColaboradoresPages.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Colaborador</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Colaborador.Uh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Colaborador.Uh.IATA)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Colaborador.Departamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Colaborador.Departamento.DepartamentoNome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Colaborador.NumCartao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Colaborador.NumCartao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Colaborador.NumPw)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Colaborador.NumPw)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Colaborador.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Colaborador.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Colaborador.Funcao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Colaborador.Funcao.FuncaoNome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Colaborador.Ativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Colaborador.Ativo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Colaborador.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Colaborador.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Colaborador.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Colaborador.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Colaborador.LastUpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Colaborador.LastUpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Colaborador.LastUpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Colaborador.LastUpdatedBy)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Colaborador.ColaboradorID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
